.path-0 {
  animation: pathAnim-0 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      'M 0,400 C 0,400 0,200 0,200 C 137.2,224.39999999999998 274.4,248.79999999999998 451,230 C 627.6,211.20000000000002 843.5999999999999,149.2 1015,137 C 1186.4,124.8 1313.2,162.4 1440,200 C 1440,200 1440,400 1440,400 Z'
    );
  }
  25% {
    d: path(
      'M 0,400 C 0,400 0,200 0,200 C 196.40000000000003,216 392.80000000000007,232 553,226 C 713.1999999999999,220 837.2,192 979,184 C 1120.8,176 1280.4,188 1440,200 C 1440,200 1440,400 1440,400 Z'
    );
  }
  50% {
    d: path(
      'M 0,400 C 0,400 0,200 0,200 C 145.06666666666666,168.93333333333334 290.1333333333333,137.86666666666665 442,154 C 593.8666666666667,170.13333333333335 752.5333333333333,233.46666666666664 920,249 C 1087.4666666666667,264.53333333333336 1263.7333333333333,232.26666666666668 1440,200 C 1440,200 1440,400 1440,400 Z'
    );
  }
  75% {
    d: path(
      'M 0,400 C 0,400 0,200 0,200 C 215.2,161.46666666666667 430.4,122.93333333333332 562,125 C 693.6,127.06666666666668 741.5999999999999,169.73333333333335 874,189 C 1006.4000000000001,208.26666666666665 1223.2,204.13333333333333 1440,200 C 1440,200 1440,400 1440,400 Z'
    );
  }
  100% {
    d: path(
      'M 0,400 C 0,400 0,200 0,200 C 137.2,224.39999999999998 274.4,248.79999999999998 451,230 C 627.6,211.20000000000002 843.5999999999999,149.2 1015,137 C 1186.4,124.8 1313.2,162.4 1440,200 C 1440,200 1440,400 1440,400 Z'
    );
  }
}
